.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background-image: url(../img/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bottom-hero .hero-img {
  background-image: url(../img/bottom-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h2 {
  padding: 88px 24px;
  margin: 0;
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 1.5;
  text-align: center;
}

/* TRAVEL PACKAGES */

.travel-packages.hero {
  margin-bottom: 88px;
}

.travel-packages .hero-img {
  height: 460px;
  background: url(../img/travel-packages/travel-packages-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.travel-packages.bottom-hero .hero-img {
  background: url(../img/travel-packages/travel-packages-bottom-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.travel-packages .hero-content {
  padding: 65px 24px;
}

.travel-packages .hero-content h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.travel-packages .hero-content hr {
  border: none;
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  margin: 16px 0 32px;
}

.travel-packages .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

/* BLOG */

.blog .hero {
  margin-bottom: 88px;
}

.blog .hero-img {
  height: 460px;
  background: url(../img/blog/blog-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.blog .hero-content {
  padding: 65px 24px;
}

.blog .hero-content h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.blog .hero-content hr {
  border: none;
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  margin: 16px 0 32px;
}

.blog .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

/* CONTACT PAGE */

.contact .hero {
  margin-bottom: 88px;
}

.contact .hero-img {
  height: 460px;
  background: url(../img/contact/contact-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact.bottom-hero .hero-img {
  height: 400px;
  background: url(../img/contact/contact-bottom-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .hero-content {
  padding: 65px 24px;
}

.contact .hero-content h1 {
  font-size: 48px;
  color: var(--text-secondary-color);
  font-weight: var(--title-weight);
}

.contact .hero-content hr {
  border: none;
  background-color: var(--secondary-color);
  width: 180px;
  height: 4px;
  margin: 16px 0 32px;
}

.contact .hero-content p {
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
  font-weight: var(--text-weight);
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    background-image: url(../img/hero-tablet.jpg);
  }

  .bottom-hero .hero-img {
    background-image: url(../img/bottom-hero-tablet.jpg);
  }

  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }

  /* TRAVEL PACKAGES */

  .travel-packages .hero-content {
    padding: 210px 70px 107px;
  }

  .travel-packages .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/travel-packages-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .travel-packages.bottom-hero .hero-img {
    height: 400px;
    background: url(../img/travel-packages/travel-packages-bottom-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* BLOG */

  .blog .hero-content {
    padding: 210px 70px 107px;
  }

  .blog .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  .blog .hero-img {
    height: 620px;
    background: url(../img/blog/blog-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* CONTACT PAGE */

  .contact .hero-content {
    padding: 210px 70px 107px;
  }

  .contact .hero-content p {
    font-size: 32px;
    line-height: 48px;
  }

  .contact .hero-img {
    height: 620px;
    background: url(../img/contact/contact-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/contact/contact-bottom-hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1024px) {
  .hero .hero-img {
    background-image: url(../img/hero-desktop.jpg);
  }

  .bottom-hero .hero-img {
    height: 600px;
    background-image: url(../img/bottom-hero-desktop.jpg);
  }

  .hero h2 {
    padding: 88px 120px;
  }

  /* TRAVEL PACKAGES */

  .travel-packages .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }

  .travel-packages .hero-content p {
    width: 570px;
  }

  .travel-packages .hero-img {
    height: 620px;
    background: url(../img/travel-packages/travel-packages-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .travel-packages.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/travel-packages/travel-packages-bottom-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* BLOG */

  .blog .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }

  .blog .hero-content p {
    width: 570px;
  }

  .blog .hero-img {
    height: 620px;
    background: url(../img/blog/blog-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* CONTACT PAGE */

  .contact .hero-content {
    padding: 150px 120px 170px;
    margin: 0 auto;
  }

  .contact .hero-content p {
    width: 570px;
  }

  .contact .hero-img {
    height: 620px;
    background: url(../img/contact/contact-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .contact.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/contact/contact-bottom-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1440px) {
  /* TRAVEL PACKAGES */

  .travel-packages .hero-content {
    width: 1200px;
  }

  /* BLOG */

  .blog .hero-content {
    width: 1200px;
  }
}

@media screen and (min-width: 1920px) {
  .travel-packages .hero-content,
  .blog .hero-content,
  .contact .hero-content {
    padding: 150px 160px 170px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  .hero h2 {
    padding: 88px 160px;
  }

  /* CONTACT PAGE */

  .contact.bottom-hero .hero-img {
    height: 600px;
    background: url(../img/contact/contact-bottom-hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
