body.success-text {
  background-color: var(--background-secondary-color);
}

.success-text h1 {
  font-size: 32px;
  margin: 50px auto;
  text-align: center;
  color: var(--text-primary-color);
  font-weight: var(--title-weight);
}

.success-text p {
  text-align: center;
  font-size: 20px;
  margin: 0 70px 0;
  color: var(--text-primary-color);
  font-weight: var(--text-weight);
}